body{
	height: 100%;
  background-image: url(../images/BG.jpg);
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 20px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 20px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
/*  text-transform: uppercase;*/
  font-size: 10px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
}

#preferences{
  font-size: 14px;
	top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#drop{
	font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
	border-radius: 6px;
	border: 3px dashed #fff;
	text-align: center;
	color:#fff;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  border-radius: 200px;
  line-height: 260px;
}

#drop:hover{
    border-color:#fff;
    line-height: 260px;
    opacity: 0.7;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  background: #98c1cc;
  color: #fff;
  text-align: center;
  width: 180px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-left: 29%;
  margin-top: 25px;
}

.btn:hover {
  background: #FFF;
  color: #98c1cc;
}

#sep {
  width: 25%;
  height: 3px;
  background-color: #FFF;
  margin: auto;
  margin-top: -17px;
}

#form {
  width: 400px;
  height: 500px;
  background-color: #7ca0ae;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  float: left;
  margin-left: 0px;
}

#drag {
  width: 400px;
  height: 500px;
  background-color: #7ca0ae;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  float: left;
  margin-left: 40px;
}

table, th, td {
  height: 40px;
}

table {
  margin: auto;
}

table tr {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  text-align: right;
  color: #fff;
}

table input {
  border-radius: 2px;
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  margin-left: 5px;
}

table select {
  border-radius: 2px;
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
}

